body
{
    
    background-color: rgb(62, 63, 65);
    
}

.dog
{
   text-align: center;

}
h1
{
    text-align: center;
    color:rgb(236, 177, 155);
    font-family: monospace;
    font-size: 40px;
}

p
{
    font-size: 40px;
    color:rgb(236, 177, 155);
    font-family: monospace;
    text-align: center;
}
 
img 
{
    display: block;
    border-radius: 70px;
    border: 5px solid rgb(236, 177, 155);
    margin-left: auto;
    margin-right: auto 
    
   
}

footer
{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(219, 209, 209);
    padding: 20px;
    margin: 80px;
    border: 4px solid rgb(236, 177, 155);
    
    
}

button
{
    
    color:rgb(236, 177, 155);
    background-color:rgb(62, 63, 65);
    border-color: white;
}

