body
{
    background-color: rgb(62, 63, 65);
    text-align: center;
}

h1
{
    color:rgb(236, 177, 155);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

p
{
    font-size: 30px;
}
 
img 
{
    border-radius: 400px;
    border: 10px solid rgb(236, 177, 155);
    margin: 30px
}

footer
{
    color: rgb(0, 0, 0);
    background-color: rgb(219, 209, 209);
    text-align: center;
    padding: 20px;
    margin: 80px;
    border: 4px solid rgb(236, 177, 155);
    
}

button
{
    color:rgb(236, 177, 155);
    background-color:rgb(62, 63, 65);
    border-color: white;
}